body{font-family:Arial, Helvetica, sans-serif;font-color:#222;background:#ffff99;}
.container {width:75%;margin:0 auto;background:#fff;padding:2em;border:#e3e3e3 solid 1px;}
.container h1, h2, h3, h4, h5, h6 {font-family: 'Pangolin', cursive;}
.container h1 {background:#003366;text-align:center;color:#fff;}
.container p {line-height:1.5em;}
.container .col1, .col3 {float:left;width:20%;margin:1em;}
.container .col2 {float:left;width:50%;margin:1em;}
.clear {clear: both;}